body {
    background: yellow;
    font-size: 20px;
    font:Arial;
}
h1 {
    color: blue;
    text-decoration: underline;
    font-size:40px;
}
.img {
    border: 5px solid;
    border-color: green;  
}
h2 {
    color: red;
    text-decoration: underline;
    font-size:30px;
}
a {
    color: green;
}
a:hover {
    color:#41F109;
}